<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>

<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>

<div class="phieu-nhap-kho">
  <form [formGroup]="createForm">
    <div class="row no-margin">
      <div class="col-md-12">
        <div class="row pnk-content" id="parent">
          <div class="col-md-12 no-padding">
            <div class="row no-margin button-group" [ngClass]="{'fixed': fixed}" [ngStyle]="{'width':withFiexd}">
              <div class="col-md-12">
                <div class="center">
                  <img src="/assets/icons/components/create_lead.svg" class="header-icon">
                  <span class="header-text">Phiếu nhập kho</span>
                </div>

                <div style="float: right;">
                  <span *ngIf="!isInvalidForm" style="margin-right: 5px;">
                    <img src="/assets/icons/components/ios-warning.svg" class="ios-warning">
                  </span>
                  <div class="box-waring" *ngIf="isInvalidForm" #toggleButton (click)="toggleNotifiError()">
                    <img src="/assets/icons/components/ios-warning-active.svg" class="ios-warning-active">
                  </div>
                  <div class="notification" #notifi *ngIf="isOpenNotifiError">
                    <div *ngIf="(doiTacControl.invalid && (doiTacControl.dirty || doiTacControl.touched))"
                      class="notifi-row">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span class="notifi-text">Chưa chọn đối tác</span>
                    </div>
                    <div *ngIf="(khoControl.invalid && (khoControl.dirty || khoControl.touched))" class="notifi-row">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span class="notifi-text">Chưa chọn Kho</span>
                    </div>
                    <div *ngIf="(donHangMuaControl.invalid && (donHangMuaControl.dirty || donHangMuaControl.touched))"
                      class="notifi-row">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span class="notifi-text">Chưa chọn Đơn hàng mua</span>
                    </div>
                    <div *ngIf="(inventoryReceivingVoucherDateControl.invalid && (inventoryReceivingVoucherDateControl.dirty || inventoryReceivingVoucherDateControl.touched))"
                      class="notifi-row">
                      <img src="/assets/icons/components/ios-alert.svg" class="ios-alert">
                      <span class="notifi-text">Chưa chọn Ngày nhập kho</span>
                    </div>
                  </div>

                  <button class="cancel" type="button" (click)="goBack()">
                    <span class="text-cancel">Thoát</span>
                  </button>

                  <button #saveAndCreate class="save-and-new" type="button" [disabled]="awaitResult"
                    (click)="taoPhieuNhapKho(true)">
                    <span class="text-save-and-new">Lưu và Thêm mới</span>
                  </button>

                  <button #save class="save" [disabled]="awaitResult" type="button" (click)="taoPhieuNhapKho(false)">
                    <span class="text-save">Lưu</span>
                  </button>

                  <button class="total" type="button" (click)="showTotal()" *ngIf="!isShow">
                    <span class="text-total"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp; Tổng kết phiếu nhập kho</span>
                  </button>

                  <p-button label="Tổng kết phiếu nhập kho" icon="pi pi-bars" iconPos="left" (onClick)="showTotal()" *ngIf="!isShow" class="ui-button-secondary">
                  </p-button>

                </div>
                <div style="clear: both;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-{{colLeft}}">
        <div class="row pnk-content">
          <div class="row no-margin" style="background: #ffffff; padding: 10px 0px;">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="Thông tin phiếu nhập kho" [selected]="true">
                <div class="col-md-12" style="padding-bottom: 10px; padding-top: 10px;">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12">
                          <span>Loại phiếu nhập</span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listLoaiPhieuNhap" optionLabel="name"
                            formControlName="loaiPhieuNhapControl" (keydown.enter)="$event.preventDefault()"
                            [autoDisplayFirst]="false" (onChange)="changeLoaiPhieuNhap()" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType == 2" class="row mt-10">
                        <div class="col-md-12">
                          <span>Đối tác</span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listCustomer" optionLabel="customerCodeName"
                            formControlName="doiTacControl" placeholder="Chọn Đối tác" 
                            filter="true" resetFilterOnHide="true" 
                            [virtualScroll]="true" itemSize="20"
                            [styleClass]="(doiTacControl.invalid && (doiTacControl.dirty || doiTacControl.touched)) ? 'error-border' : ''"
                            (keydown.enter)="$event.preventDefault()" [autoDisplayFirst]="false"
                            (onChange)="changeDoiTac()" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                        <div class="col-md-12" [hidden]="doiTacControl.valid || doiTacControl.untouched">
                          <span *ngIf="doiTacControl.hasError('required')" class="error-message-span">Không được để
                            trống</span>
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType != 2" class="row mt-10">
                        <div class="col-md-12">
                          <span>Đối tác<span style="color: red;">*</span></span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listVendor" optionLabel="vendorCodeName"
                            formControlName="doiTacControl" placeholder="Chọn Đối tác" filter="true"
                            resetFilterOnHide="true" [virtualScroll]="true" itemSize="30"
                            [styleClass]="(doiTacControl.invalid && (doiTacControl.dirty || doiTacControl.touched)) ? 'error-border' : ''"
                            (keydown.enter)="$event.preventDefault()" [autoDisplayFirst]="false"
                            (onChange)="changeDoiTac()" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                        <div class="col-md-12" [hidden]="doiTacControl.valid || doiTacControl.untouched">
                          <span *ngIf="doiTacControl.hasError('required')" class="error-message-span">Không được để
                            trống</span>
                        </div>
                      </div>

                      <div class="row mt-10">
                        <div class="col-md-12">
                          <span>Nhập kho tại<span style="color: red;">*</span></span>
                        </div>
                        <div class="col-md-12">
                          <p-dropdown [options]="listWarehouse" optionLabel="warehouseCodeName"
                            formControlName="khoControl" placeholder="Chọn Kho" filter="true" resetFilterOnHide="true"
                            [styleClass]="(khoControl.invalid && (khoControl.dirty || khoControl.touched)) ? 'error-border' : ''"
                            (keydown.enter)="$event.preventDefault()" [autoDisplayFirst]="false"
                            (onChange)="changeNhapKhoTai()" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                        <div class="col-md-12" [hidden]="khoControl.valid || khoControl.untouched">
                          <span *ngIf="khoControl.hasError('required')" class="error-message-span">Không được để
                            trống</span>
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType == 1" class="row mt-10">
                        <div class="col-md-12">
                          <span>Lấy dữ liệu từ đơn hàng mua<span style="color: red;">*</span></span>
                        </div>
                        <div class="col-md-12">
                          <p-multiSelect [options]="listVendorOrder" (keydown.enter)="$event.preventDefault()"
                            formControlName="donHangMuaControl"
                            [styleClass]="(donHangMuaControl.invalid && (donHangMuaControl.dirty || donHangMuaControl.touched)) ? 'error-border' : ''"
                            [virtualScroll]="true" itemSize="30" [filter]="true" [resetFilterOnHide]="true"
                            defaultLabel="Chọn đơn hàng mua" optionLabel="vendorDescripton" [style]="{'width': '100%'}"
                            selectedItemsLabel="{0} đơn hàng mua được chọn" (onChange)="changeDonHangMua()">
                          </p-multiSelect>
                        </div>
                        <div class="col-md-12" [hidden]="donHangMuaControl.valid || donHangMuaControl.untouched">
                          <span *ngIf="donHangMuaControl.hasError('required')" class="error-message-span">Không được để
                            trống</span>
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType == 2" class="row mt-10">
                        <div class="col-md-12">
                          <span>Lấy dữ liệu từ </span>
                          <button class="show-dialog-pxk" type="button" (click)="showDialogPhieuXuatKho('tra_lai')">
                            <span class="text-show-dialog-pxk"><i class="pi pi-search"></i> Phiếu xuất kho</span>
                          </button>
                        </div>
                        <div class="col-md-12 mt-10">
                          <p-chips formControlName="phieuXuatKhoChipsControl" separator="," (onAdd)="addChips()"
                            [inputStyle]="{'width': '100%'}"></p-chips>
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType == 3" class="row mt-10">
                        <div class="col-md-12">
                          <span>Lấy dữ liệu từ bảng kiểm kê<span style="color: red;">*</span></span>
                        </div>
                        <div class="col-md-12">
                          <p-multiSelect [options]="listLoaiPhieuNhap" (keydown.enter)="$event.preventDefault()"
                            formControlName="phieuKiemKeControl"
                            [styleClass]="(phieuKiemKeControl.invalid && (phieuKiemKeControl.dirty || phieuKiemKeControl.touched)) ? 'error-border' : ''"
                            [virtualScroll]="true" itemSize="30" [filter]="true" [resetFilterOnHide]="true"
                            defaultLabel="Chọn đơn hàng mua" optionLabel="name" [style]="{'width': '100%'}"
                            selectedItemsLabel="{0} đơn hàng mua được chọn" (onChange)="changePhieuKiemKe()">
                          </p-multiSelect>
                        </div>
                        <div class="col-md-12" [hidden]="phieuKiemKeControl.valid || phieuKiemKeControl.untouched">
                          <span *ngIf="phieuKiemKeControl.hasError('required')" class="error-message-span">Không được để
                            trống</span>
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType == 4" class="row mt-10">
                        <div class="col-md-12">
                          <span>Lấy dữ liệu từ </span>
                          <button class="show-dialog-pxk" type="button" (click)="showDialogPhieuXuatKho('dieu_chuyen')">
                            <span class="text-show-dialog-pxk"><i class="pi pi-search"></i> Phiếu xuất kho</span>
                          </button>
                        </div>
                        <div class="col-md-12 mt-10">
                          <p-chips formControlName="phieuXuatKhoChipsControl" separator="," (onAdd)="addChips()"
                            [inputStyle]="{'width': '100%'}"></p-chips>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12">
                          <span>Ngày dự kiến nhập<span style="color: red;">*</span></span>
                        </div>
                        <div class="col-md-12">
                          <p-calendar formControlName="expectedDateControl"
                            [styleClass]="(expectedDateControl.invalid  && (expectedDateControl.dirty || expectedDateControl.touched)) ? 'error-pcalendar': ''"
                            dateFormat="dd/mm/yy" [style]="{'width':'100%'}" showButtonBar="true"
                            (keydown.enter)="$event.preventDefault()" [inputStyle]="{'width':'100%'}"
                            [baseZIndex]="999">
                          </p-calendar>
                        </div>
                        <div class="col-md-12" [hidden]="expectedDateControl.valid || expectedDateControl.untouched">
                          <span *ngIf="expectedDateControl.hasError('required')" class="error-message-span">Không được
                            để trống</span>
                        </div>
                      </div>

                      <div class="row mt-10">
                        <div class="col-md-12">
                          <span>Ngày nhập kho<span style="color: red;">*</span></span>
                        </div>
                        <div class="col-md-12">
                          <p-calendar formControlName="inventoryReceivingVoucherDateControl" 
                            [styleClass]="(inventoryReceivingVoucherDateControl.invalid  && (inventoryReceivingVoucherDateControl.dirty || inventoryReceivingVoucherDateControl.touched)) ? 'error-pcalendar': ''"
                            dateFormat="dd/mm/yy"
                            [style]="{'width':'100%'}" showButtonBar="true" (keydown.enter)="$event.preventDefault()"
                            [inputStyle]="{'width':'100%'}" [baseZIndex]="999">
                          </p-calendar>
                        </div>
                        <div class="col-md-12" [hidden]="inventoryReceivingVoucherDateControl.valid || inventoryReceivingVoucherDateControl.untouched">
                          <span *ngIf="inventoryReceivingVoucherDateControl.hasError('required')" class="error-message-span">Không được
                            để trống</span>
                        </div>
                      </div>

                      <div class="row mt-10">
                        <div class="col-md-12">
                          <span>Họ và tên người giao</span>
                        </div>
                        <div class="col-md-12">
                          <input formControlName="shiperNameControl" class="w100 input-text" type="text" pInputText
                            placeholder="Nhập họ và tên người giao">
                        </div>
                      </div>

                      <div *ngIf="loaiPhieuNhapType != 5" class="row mt-10">
                        <div class="col-md-12">
                          <span>Diễn giải</span>
                        </div>
                        <div class="col-md-12">
                          <textarea formControlName="descriptionControl" class="w100" [rows]="5" [cols]="30"
                            pInputTextarea></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div *ngIf="loaiPhieuNhapType == 5" class="row mt-10">
                        <div class="col-md-12">
                          <span>Diễn giải</span>
                        </div>
                        <div class="col-md-12">
                          <textarea formControlName="descriptionControl" class="w100" [rows]="5" [cols]="30"
                            pInputTextarea></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>

        <div class="row area-2">
          <div class="row no-margin" style="background: #ffffff; padding: 10px 0px;">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="Chi tiết" [selected]="true">
                <div class="col-md-12" style="padding-bottom: 10px; padding-top: 10px;">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p-dropdown *ngIf="loaiPhieuNhapType == 5 && khoControl.value" 
                            formControlName="productControl"
                            [options]="listProduct" optionLabel="productCodeName"
                            placeholder="Thêm sản phẩm" filter="true"
                            resetFilterOnHide="true" [virtualScroll]="true" itemSize="30"
                            (keydown.enter)="$event.preventDefault()" [autoDisplayFirst]="false"
                            (onChange)="changeProduct($event)" [style]="{'width': '100%'}">
                          </p-dropdown>
                        </div>
                        <div class="col-md-6">
                          <input class="w100 input-text" type="text" pInputText
                            placeholder="Nhập mã hoặc tên sản phẩm muốn tìm"
                            [(ngModel)]="filterGlobal" [ngModelOptions]="{standalone: true}"
                            (input)="myTable.filterGlobal($event.target.value.trim(), 'contains')">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-10">
                    <div *ngIf="loaiPhieuNhapType == 1" class="col-md-12">
                      <p-table #myTable [columns]="colsDonHangMua" [value]="listItemDetail" [resizableColumns]="true"
                        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50,100,150]"
                        [responsive]="true" class="table-border">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
                              {{col.header}}
                              <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field" pEditableColumn
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width, 'color': rowData.error == true ? col.color : '' }">
                              <span class="ui-column-title">{{col.header}}</span>
                              <span *ngSwitchCase="'orderCode'" (click)="onViewDetail(rowData)" class="link"
                                style="display: inline-block; padding: 2px 2px;">
                                {{ rowData[col.field] }}
                              </span>
                              <span *ngSwitchCase="'description'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom">
                                {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                              </span>
                              <span *ngSwitchCase="'warehouseCodeName'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom" style="display: inline-block; padding: 2px 2px; cursor: pointer;"
                                [ngClass]="{'link': !rowData.error}">
                                <span *ngIf="rowData[col.field] != '' && rowData[col.field] != null"
                                  (click)="thayDoiKho(rowData)">
                                  {{ rowData.error == true ? 'Chưa chọn vị trí hợp lệ' : (rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim()) }}
                                </span>
                              </span>
                              <span *ngSwitchCase="'quantityRequest'">
                                {{ rowData[col.field] | number }}
                              </span>
                              <span *ngSwitchCase="'quantityReservation'">
                                {{ rowData[col.field] | number }}
                              </span>
                              <span *ngSwitchCase="'quantityActual'">
                                <input type="text" class="number-input" 
                                  [(ngModel)]="rowData.quantityActual" [ngModelOptions]="{standalone: true}"
                                  [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                                  (keydown.enter)="$event.preventDefault()" (change)="changeQuantityActual(rowData)">
                              </span>
                              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div *ngIf="loaiPhieuNhapType == 2" class="col-md-12">
                      <p-table #myTable [columns]="colsPhieuXuatKho" [value]="listItemDetail" [resizableColumns]="true"
                        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50,100,150]"
                        [responsive]="true">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
                              {{col.header}}
                              <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width, 'color': rowData.error == true ? col.color : '' }">
                              <span *ngSwitchCase="'orderCode'" (click)="onViewDetail(rowData)" class="link"
                                style="display: inline-block; padding: 2px 2px;">
                                {{ rowData[col.field] }}
                              </span>
                              <span *ngSwitchCase="'description'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom">
                                {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                              </span>
                              <span *ngSwitchCase="'warehouseCodeName'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom" class="link" style="display: inline-block; padding: 2px 2px;">
                                <span *ngIf="rowData[col.field] != '' && rowData[col.field] != null"
                                  (click)="thayDoiKho(rowData)">
                                  {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                                </span>
                              </span>
                              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div *ngIf="loaiPhieuNhapType == 3" class="col-md-12">
                      <p-table #myTable [columns]="colsKiemKe" [value]="listItemDetail" [resizableColumns]="true"
                        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50,100,150]"
                        [responsive]="true">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
                              {{col.header}}
                              <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width, 'color': rowData.error == true ? col.color : '' }">
                              <span *ngSwitchCase="'orderCode'" (click)="onViewDetail(rowData)" class="link"
                                style="display: inline-block; padding: 2px 2px;">
                                {{ rowData[col.field] }}
                              </span>
                              <span *ngSwitchCase="'description'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom">
                                {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                              </span>
                              <span *ngSwitchCase="'warehouseCodeName'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom" class="link" style="display: inline-block; padding: 2px 2px;">
                                <span *ngIf="rowData[col.field] != '' && rowData[col.field] != null"
                                  (click)="thayDoiKho(rowData)">
                                  {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                                </span>
                              </span>
                              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div *ngIf="loaiPhieuNhapType == 4" class="col-md-12">
                      <p-table #myTable [columns]="colsDieuChuyen" [value]="listItemDetail" [resizableColumns]="true"
                        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50,100,150]"
                        [responsive]="true">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
                              {{col.header}}
                              <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width, 'color': rowData.error == true ? col.color : '' }">
                              <span *ngSwitchCase="'orderCode'" (click)="onViewDetail(rowData)" class="link"
                                style="display: inline-block; padding: 2px 2px;">
                                {{ rowData[col.field] }}
                              </span>
                              <span *ngSwitchCase="'description'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom">
                                {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                              </span>
                              <span *ngSwitchCase="'warehouseCodeName'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom" class="link" style="display: inline-block; padding: 2px 2px;">
                                <span *ngIf="rowData[col.field] != '' && rowData[col.field] != null"
                                  (click)="thayDoiKho(rowData)">
                                  {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                                </span>
                              </span>
                              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                    <div *ngIf="loaiPhieuNhapType == 5" class="col-md-12">
                      <p-table #myTable [columns]="colsNhapKhac" [value]="listItemDetail" [resizableColumns]="true"
                        columnResizeMode="expand" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[50,100,150]"
                        [responsive]="true">
                        <ng-template pTemplate="header" let-columns>
                          <tr>
                            <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width }">
                              {{col.header}}
                              <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                          <tr>
                            <td *ngFor="let col of columns" [ngSwitch]="col.field"
                              [ngStyle]="{ 'text-align': col.textAlign, display: col.display, width: col.width, 'color': rowData.error == true ? col.color : '' }">
                              <span *ngSwitchCase="'description'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom">
                                {{ rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim() }}
                              </span>
                              <span *ngSwitchCase="'warehouseCodeName'" pTooltip="{{rowData[col.field]}}"
                                tooltipPosition="bottom" style="display: inline-block; padding: 2px 2px; cursor: pointer;"
                                [ngClass]="{'link': !rowData.error}">
                                <span *ngIf="rowData[col.field] != '' && rowData[col.field] != null"
                                  (click)="thayDoiKho(rowData)">
                                  {{ rowData.error == true ? 'Chưa chọn vị trí hợp lệ' : (rowData[col.field].trim().length > 20 ? rowData[col.field].trim().slice(0,20)+'...' :
                                rowData[col.field].trim()) }}
                                </span>
                              </span>
                              <span *ngSwitchCase="'quantityRequest'">
                                <input type="text" class="number-input" 
                                  [(ngModel)]="rowData.quantityRequest" [ngModelOptions]="{standalone: true}"
                                  [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                                  (keydown.enter)="$event.preventDefault()" (change)="changeQuantityRequest(rowData)">
                              </span>
                              <span *ngSwitchCase="'quantityReservation'">
                                {{ rowData[col.field] | number }}
                              </span>
                              <span *ngSwitchCase="'quantityActual'">
                                <input type="text" class="number-input" 
                                  [(ngModel)]="rowData.quantityActual" [ngModelOptions]="{standalone: true}"
                                  [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                                  (keydown.enter)="$event.preventDefault()" (change)="changeQuantityActual(rowData)">
                              </span>
                              <span *ngSwitchCase="'priceProduct'">
                                <input type="text" class="number-input" 
                                  [(ngModel)]="rowData.priceProduct" [ngModelOptions]="{standalone: true}"
                                  [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                                  (keydown.enter)="$event.preventDefault()" (change)="changePriceProduct(rowData)">
                              </span>
                              <span *ngSwitchCase="'amount'">
                                {{ rowData[col.field] | number }}
                              </span>
                              <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                            </td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>

        <div class="row area-2">
          <div class="row no-margin" style="background: #ffffff; padding: 10px 0px;">
            <p-accordion expandIcon="pi pi-fw pi-chevron-circle-right" collapseIcon="pi pi-fw pi-chevron-circle-down">
              <p-accordionTab header="Ghi chú" [selected]="true">
                <div class="col-md-12">
                  <p-editor formControlName="noteControl"
                    [style]="{'height':'180px', 'width': '100%'}">
                  </p-editor>
                </div>
                <div class="col-md-12" style="margin-top: 5px;">
                  <p-fileUpload #fileUpload name="demo[]" [showUploadButton]="false" multiple="multiple"
                    accept="image/*,video/*,audio/*,.zip,.rar,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx,.txt"
                    maxFileSize="defaultLimitedFileSize" invalidFileSizeMessageSummary="{0}: file kích cỡ quá lớn,"
                    invalidFileSizeMessageDetail="kích cỡ lớn nhất có thể lưu là {0}."
                    invalidFileTypeMessageSummary="{0}: định dạng file bị cấm, "
                    invalidFileTypeMessageDetail="bạn chỉ có thể lưu các file có định dạng như: {0}."
                    chooseLabel="Chọn file" cancelLabel="Hủy toàn bộ file" (onSelect)="handleFile($event, fileUpload)"
                    (onRemove)="removeFile($event)" (onClear)="clearAllFile()"></p-fileUpload>
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="isShow">
        <div class="no-margin overview" [ngClass]="{'fixedRight': fixed}" [ngStyle]="{'width':withFiexdCol}"
          id="parentTH">
          <div class="row no-margin button-group">
            <div class="col-md-12" (click)="showTotal()">
              <span class="text-title">Tổng kết phiếu nhập kho</span>
              <i class="ios-print"><img src="/assets/icons/components/ios-print.svg" class="ios-print"></i>
            </div>
          </div>
          <div class="row no-margin" style="background: #ffffff;">
            <div class="col-md-12 mt-10">
              <div class="row">
                <div class="col-md-12">
                  <span style="font-weight: bold;">Mã phiếu: </span>
                  <span style="font-style: italic; color: #cccccc;font-weight: bold;">
                    Sẽ được hệ thống tạo sau khi lưu
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-10">
              <div class="row">
                <div class="col-md-6">
                  <span style="font-weight: bold;">Trạng thái: </span>
                </div>
                <div class="col-md-6" style="text-align: right;">
                  <span>Nháp</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-10">
              <div class="row">
                <div class="col-md-5">
                  <span style="font-weight: bold;">Người lập phiếu: </span>
                </div>
                <div class="col-md-7" style="text-align: right;">
                  <span>{{employeeCodeName}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-10">
              <div class="row">
                <div class="col-md-6">
                  <span style="font-weight: bold;">Ngày lập phiếu: </span>
                </div>
                <div class="col-md-6" style="text-align: right;">
                  <span>{{createdDate | date: 'dd/MM/yyyy HH:mm' }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-10">
              <div class="row">
                <div class="col-md-6">
                  <span style="font-weight: bold;">Tổng SL thực nhập: </span>
                </div>
                <div class="col-md-6" style="text-align: right;">
                  <span>{{ totalQuantityActual | number }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-10 mb-10">
              <div class="row">
                <div class="col-md-7">
                  <span style="font-weight: bold;">Số chứng từ gốc kèm theo: </span>
                </div>
                <div class="col-md-5" style="text-align: right;">
                  <input type="text" class="number-input" formControlName="licenseNumberControl"
                    [cleave]="{numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 'defaultNumberType'}"
                    (keydown.enter)="$event.preventDefault()" (change)="changeLicenseNumber()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <p-dialog header="Chọn Kho" [(visible)]="choiceKho" [modal]="true" [style]="{width: '50vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
    <div class="row no-margin">
      <div class="col-md-12">
        <p-tree [value]="listDetailWarehouse" scrollHeight="200px" [style]="{width: '100%'}" 
          selectionMode="single" [(selection)]="selectedWarehouseChilren"
          (onNodeSelect)="choiceKhoCon($event)">
        </p-tree>
      </div>
    </div>
    <p-footer>
      <button *ngIf="selectedWarehouseChilren" type="button" pButton (click)="selectedKhoCon()" label="Chọn"></button>
      <button type="button" pButton (click)="cancelSelectedKhoCon()" label="Hủy"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</div>