<card-body>
    <div class="row">
        <div class="col-md-12">
            <button type="button" 
                *ngIf="chart"
                [disabled]="loading"
                class="btn-edit"
                (click)="refresh()"
                >
                <span class="text-white">Làm mới</span>
                <i [class]="loading ? 'fa fa-circle-o-notch fa-spin' : 'fas fa-sync'"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div #container></div>
        </div>    
        <div class="col-md-4 mb-40">
            <div class="row" *ngFor="let item of listRevenueStatisticWaitPaymentModel">
                <div class="col-md-6">
                    <p class="line-height">{{item.servicePacketName ? item.servicePacketName :item.productCategoryName}}:</p>
                </div>
                <div class="col-md-6">
                    <p class="font-weiht-bold line-height">{{item.amount | number :'1.0-0'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p class="line-height">Tổng:</p>
                </div>
                <div class="col-md-6">
                    <p class="font-weiht-bold line-height">{{totalAmount | number :'1.0-0'}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            
        </div>
    </div>
</card-body>

