.border-left {
    border-left: 1px solid gray;
}

.pt-20 {
    padding-top: 20px;
}

.font-weiht-bold{
    font-weight: bold;
}

.btn-edit {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 rgb(18 22 25 / 8%);
    background-color: #0f62fe;
    padding: 0.65rem 1rem;
    margin-right: 10px;
    color: #fff;
    float: right;
    width: 100px;
}

.btn-edit span {
    padding-right: 5px;
}

button:disabled,
button[disabled]{
    background-color: #5867dd;
    border-color: #5867dd;
}

.d-block {
    display: block;
    cursor: pointer;
}

.d-block:hover{
    text-decoration: underline;
}

.line-height {
    line-height: 2.5;
    margin: 0;
}

.pt-2 {
    padding-top: 5px;
}

@media only screen and (max-width: 1800px) {
    .row-responsive {
      display: grid;
    }
}