<!-- Loading... -->
<div class="loading-indicator" *ngIf="loading">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s">
  </p-progressSpinner>
</div>
<!-- Message Response... -->
<p-toast position="bottom-right"></p-toast>
<!-- Confirm... -->
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptLabel="Chấp nhận" rejectLabel="Không">
</p-confirmDialog>
<card-body>
  <sub-header>
    <ng-container iconSubHeader>
      <img src="/assets/icons/components/create_lead.svg" class="header-icon">
    </ng-container>
    <ng-container subHeaderTitle>
      Danh sách gói dịch vụ
    </ng-container>
    <ng-container actions>
      <div class="filter">
        <input type="text" id="queryControl" name="queryControl" class="form-control m-input"
          [formControl]="queryControl" [placeholder]="'Tìm kiếm tên dịch vụ, loại dịch vụ ...'" autocomplete="off">
        <button type="button" class="btn-primary btn-edit" [routerLink]="'/product/product-packet-createOrUpdate'">
          <span class="text-white">Tạo mới</span>
        </button>
      </div>
    </ng-container>
  </sub-header>

  <!-- Table -->
  <div *ngIf="listServicePacket.length > 0" class="row table-padding">
    <p-table #dt [columns]="cols" [value]="listServicePacket" [resizableColumns]="true" columnResizeMode="expand"
      [rowsPerPageOptions]="[10, 20, 30]" [paginator]="true" [filterDelay]="0" [rows]="rows">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="width: 3.5em; text-align: center;">
            #
          </th>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th style="text-align: center; width: 10rem;">
            <span>Thao tác</span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-idx="rowIndex" let-rowData let-columns="columns">
        <tr>
          <td style="text-align: center;" pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text"
                  [cleave]="{ numeral: true, numeralPositiveOnly: true, numeralDecimalScale: 3 }"
                  [(ngModel)]="rowData['stt']" 
                  (change)="changeStt(rowData)" 
                  [ngStyle]="{'width': '100%'}"
                  (keydown.enter)="$event.preventDefault()"
                  >
              </ng-template>
              <ng-template pTemplate="output">
                {{ rowData['stt'] }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td *ngFor="let col of columns" [ngSwitch]="col.field">
            <span *ngSwitchCase="'name'" class="link">
              <a class="cursor-poiter" (click)="goToDetail(rowData['id'])">
                {{rowData[col.field]}}
              </a>     
            </span>
            <span *ngSwitchDefault>
              {{rowData[col.field]}}
            </span>
          </td>
          <td style="text-align: center;  width: 10rem;">
            <button class="ui-button-danger" pButton icon="pi pi-trash" (click)="deleteProductPacket(rowData['id'])">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</card-body>