.btn-edit {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px 0 rgb(18 22 25 / 8%);
    background-color: #0f62fe;
    padding: 0.65rem 1rem;
    margin-right: 10px;
    color: #fff;
    float: right;
    width: 100px;
}

.btn-edit span {
    padding-right: 5px;
}

button:disabled,
button[disabled]{
    background-color: #5867dd;
    border-color: #5867dd;
}

.font-weight-bold {
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    fill: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}
