<div class="row">
    <div class="col-md-2">
        <div class="box">
          <div class="row">
            <div class="col-md-12">
              <span class="box-title">Doanh thu trong ngày</span>
            </div>
            <div class="col-md-12" style="text-align: center; padding: 20px 0px;">
              <span class="box-content">{{revenueStatisticModel.revenueOfDay | number: '1.0-0'}}</span>
            </div>
            <div class="col-md-12" [ngClass]="revenueStatisticModel.revenueOfYesterday.toString().indexOf('-') > -1 ? 'text-danger' : 'text-green'">
                <span>{{revenueStatisticModel.revenueOfYesterday.toString().indexOf('-') > -1 ? '' : '+'}}</span> {{revenueStatisticModel.revenueOfYesterday | number : '1.0-0'}}
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="row">
            <div class="col-md-12">
                <span class="box-title">Doanh thu trong tuần</span>
            </div>
            <div class="col-md-12" style="text-align: center; padding: 20px 0px;">
                <span class="box-content">{{revenueStatisticModel.revenueOfWeek | number: '1.0-0'}}</span>
            </div>
            <div class="col-md-12" [ngClass]="revenueStatisticModel.revenueOfLastWeek.toString().indexOf('-') > -1 ? 'text-danger' : 'text-green'">
                <span>{{revenueStatisticModel.revenueOfLastWeek.toString().indexOf('-') > -1 ? '' : '+'}}</span> {{revenueStatisticModel.revenueOfLastWeek | number : '1.0-0'}}
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="row">
            <div class="col-md-12">
                <span class="box-title">Doanh thu trong tháng</span>
            </div>
            <div class="col-md-12" style="text-align: center; padding: 20px 0px;">
                <span class="box-content">{{revenueStatisticModel.revenueOfMonth | number: '1.0-0'}}</span>
            </div>
            <div class="col-md-12" [ngClass]="revenueStatisticModel.revenueOfLastMonth.toString().indexOf('-') > -1 ? 'text-danger' : 'text-green'">
                <span>{{revenueStatisticModel.revenueOfLastMonth.toString().indexOf('-') > -1 ? '' : '+'}}</span> {{revenueStatisticModel.revenueOfLastMonth | number : '1.0-0'}}
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="row">
            <div class="col-md-12">
                <span class="box-title">Doanh thu trong Qúy</span>
            </div>
            <div class="col-md-12" style="text-align: center; padding: 20px 0px;">
                <span class="box-content">{{revenueStatisticModel.revenueOfQuarter | number: '1.0-0'}}</span>
            </div>
            <div class="col-md-12" [ngClass]="revenueStatisticModel.revenueOfLastQuarter.toString().indexOf('-') > -1 ? 'text-danger' : 'text-green'">
                <span>{{revenueStatisticModel.revenueOfLastQuarter.toString().indexOf('-') > -1 ? '' : '+'}}</span> {{revenueStatisticModel.revenueOfLastQuarter | number : '1.0-0'}}
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="box">
        <div class="row">
            <div class="col-md-12">
              <span class="box-title">Doanh thu trong năm</span>
            </div>
            <div class="col-md-12" style="text-align: center; padding: 20px 0px;">
              <span class="box-content">{{revenueStatisticModel.revenueOfYear | number: '1.0-0'}}</span>
            </div>
            <div class="col-md-12" [ngClass]="revenueStatisticModel.revenueOfLastYear.toString().indexOf('-') > -1 ? 'text-danger' : 'text-green'">
              <span>{{revenueStatisticModel.revenueOfLastYear.toString().indexOf('-') > -1 ? '' : '+'}}</span> {{revenueStatisticModel.revenueOfLastYear | number : '1.0-0'}}
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <div class="box">
          <div class="row">
                <div class="col-md-12">
                  <span class="box-title">Doanh thu chờ thanh toán</span>
                </div>
                <div class="col-md-12" style="text-align: center; padding: 20px 0px;">
                  <span class="box-content revenue-wait-payment">{{revenueStatisticModel.revenueWaitPayment | number: '1.0-0'}}</span>
                </div>
                <div class="col-md-12">
                  <span>&nbsp;</span>
                </div>
          </div>
        </div>
    </div>
</div>